<!--button back top-->
<div id="back-top"></div>
<div class="main">
  <div class="div-content">
    <!--==============================header=================================-->
    <div class="container_12">
      <header>
        <div class="container_12">

          <h1><a href="index.html"><img width="50%" src="../assets/images/logo.png" alt=""></a> </h1>
          <div class="date_section">September 02, 2018</div>


          <div class="grid_12 txt_cntr">
            <nav>
              <ul class="sf-menu">
                <li class="current"><a href="index.html"><span class="base_txt">Main</span><span class="over_plane"></span></a></li>
                <li><a href="index-1.html"><span class="base_txt">about us</span><span class="over_plane"></span></a></li>
                <li><a href="index-2.html"><span></span><span class="base_txt">gallery</span><span class="over_plane"></span></a>
                  <ul class='submenu'>
                    <li class='sub-menu'><a href="#">gallery 1</a>
                      <ul class='submenu2'>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Testimonials</a></li>
                      </ul>
                    </li>
                    <li><a href="#">gallery 2</a></li>
                    <li><a href="#">gallery 3</a></li>
                  </ul>
                </li>

                <li><a href="index-3.html"><span class="base_txt">blog</span><span class="over_plane"></span></a></li>
                <li id="last-li"><a href="index-4.html"><span class="base_txt">contacts</span><span class="over_plane"></span></a></li>
              </ul>
            </nav>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        </div>
      </header>
    </div>

    <!--=======content================================-->
    <div class="slider">
      <div class="" id="camera_wrap">

        <div style="padding-left: 18%">
          <img src="../assets/images/main-slide-img.png" width="100%"/>
        </div>

        <div data-src="../assets/images/slide1.jpg">

        </div>
        <div data-src="../assets/images/slide2.jpg">

        </div>
        <div data-src="../assets/images/slide3.jpg"></div>
      </div>
    </div>

    <!-- <div class="slider_wrapper">
        <div class="" id="camera_wrap">
            <div data-src="../assets/images/slide1.jpg"></div>
            <div data-src="../assets/images/slide2.jpg"></div>
            <div data-src="../assets/images/slide3.jpg"></div>
        </div>
    </div> -->

    <div class="container_12 pos_rel">
      <div class="grid_6">
        <div class="white_section banner">
          <div class="white_section_pad">
            <div class="fleft width1">
              <h2>KRISTIN</h2>
              <h3>Praesent vestibulum molestie lacus</h3>
              <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit.</p>
            </div>
            <img src="../assets/images/page1_pic1.jpg" alt="" class="img1">
          </div>
        </div>
      </div>
      <div class="plus_sign"></div>
      <div class="grid_6">
        <div class="white_section banner">
          <div class="white_section_pad">
            <img src="../assets/images/page1_pic2.jpg" alt="" class="img2">
            <div class="fright2 width1 txt_right">
              <h2>JOËL</h2>
              <h3>Praesent vestibulum molestie lacus</h3>
              <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit.</p>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="container_12">
      <div class="grid_12">
        <h2 class="hline2">Are Getting Married!</h2>
        <h3 class="v2">Estérel Resort - 39 Chemin Fridolin-Simard, Estérel, QC J0T 1E0 </h3>

        <!--div class="txt_cntr">
          <div class="dis-inblock">
            <div class="counter_section">
              <div class="plane">118</div>
              <p>days</p>
            </div>
            <div class="counter_separate"></div>
            <div class="counter_section">
              <div class="plane">23</div>
              <p>hours</p>
            </div>
            <div class="counter_separate"></div>
            <div class="counter_section">
              <div class="plane">58</div>
              <p>minutes</p>
            </div>
            <div class="counter_separate"></div>
            <div class="counter_section">
              <div class="plane">34</div>
              <p>seconds</p>
            </div>
          </div>
        </div-->

        <div id="counter"></div>

        <h2 class="hline2 v2">Friends Wishes</h2>
        <div class="grid_4 alpha">
          <div class="white_section">
            <div class="white_section_pad">
              <img src="../assets/images/page1_pic3.jpg" alt="" class="imgIndent">
              <div class="box">
                <h3 class="v3">John McCoist,</h3>
                <h4>Praesent vestibulum molestie</h4>
              </div>
              <div class="wrapper">
                <p>„ Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius
                  mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.“</p>
                <a href="#" class="more_btn">continue reading</a>
              </div>

            </div>
          </div>
          <div class="white_section">
            <div class="white_section_pad">
              <img src="../assets/images/page1_pic4.jpg" alt="" class="imgIndent">
              <div class="box">
                <h3 class="v3">Olivia<br>Grosh,</h3>
                <h4>Praesent vestibulum molestie</h4>
              </div>
              <div class="wrapper">
                <p>„ Fusce suscipit varius mi. Cum sociis natoque.“</p>
                <a href="#" class="more_btn">continue reading</a>
              </div>

            </div>
          </div>
        </div>

        <div class="grid_4">
          <div class="white_section">
            <div class="white_section_pad">
              <img src="../assets/images/page1_pic5.jpg" alt="" class="imgIndent">
              <div class="box">
                <h3 class="v3">Jessica Priston,</h3>
                <h4>Praesent vestibulum molestie</h4>
              </div>
              <div class="wrapper">
                <p>„ Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque.“</p>
                <a href="#" class="more_btn">continue reading</a>
              </div>

            </div>
          </div>
          <div class="white_section">
            <div class="white_section_pad">
              <img src="../assets/images/page1_pic6.jpg" alt="" class="imgIndent">
              <div class="box">
                <h3 class="v3">Patrick<br>Pool,</h3>
                <h4>Praesent vestibulum molestie</h4>
              </div>
              <div class="wrapper">
                <p>„ Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque.“</p>
                <a href="#" class="more_btn">continue reading</a>
              </div>

            </div>
          </div>
        </div>

        <div class="grid_4 omega">
          <div class="white_section">
            <div class="white_section_pad">
              <img src="../assets/images/page1_pic7.jpg" alt="" class="imgIndent">
              <div class="box">
                <h3 class="v3">Sam &amp; Linda Kromstain,</h3>
                <h4>Praesent vestibulum</h4>
              </div>
              <div class="wrapper">
                <p>„ Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                  mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem.
                  Maecenas tristique orci ac sem. Duis ultricies pharetra magna.“</p>
                <a href="#" class="more_btn">continue reading</a>
              </div>

            </div>
          </div>
          <div class="white_section">
            <div class="white_section_pad">
              <img src="../assets/images/page1_pic8.jpg" alt="" class="imgIndent">
              <div class="box">
                <h3 class="v3">Cindy Crawford,</h3>
                <h4>Praesent vestibulum molestie</h4>
              </div>
              <div class="wrapper">
                <p>„ Fusce suscipit varius mi. Cum sociis natoque.“</p>
                <a href="#" class="more_btn">continue reading</a>
              </div>

            </div>
          </div>
        </div>


      </div>





    </div>

    <!--=======footer=================================-->
    <footer>
      <div class="main-footer">
        <div class="container_12">

          <div class="social">
            <a href="#"><img src="../assets/images/soc_1.png" alt=""></a>
            <a href="#"><img src="../assets/images/soc_2.png" alt=""></a>
            <a href="#"><img src="../assets/images/soc_3.png" alt=""></a>
          </div>

          <div class="clear"></div>
        </div>
      </div>
    </footer>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {

    jQuery('#camera_wrap').camera({
      loader: false,
      pagination: false,
      thumbnails: false,
      height: '30.208333%',
      fx: 'blindCurtainTopLeft',
      rows: '1',
      slicedCols: '1',
      slicedRows: '3',
      caption: false
    });

  });

</script>