<div class="container_12" style="margin-top: 4%; margin-bottom: 10%">
    <div class="grid_12" style="align-content: center">

        <h2 class="hline2" style="text-align: left"> Accommodations </h2>

        <div style="margin-left: 20%; margin-bottom: 8%; margin-top: 5%;font-family: 'Karma', serif; font-size: 140%">
            <p>
                A block of rooms for the evenings of Saturday, September 1st and Sunday, September 2nd has been reserved at Esterel Resort
                under Filiatrault/Thibodeau. While we would love for everyone to stay at the hotel, we understand that this
                may not be in everyone’s plans.
            </p>

            <h3 class="v2" style="text-align: left; padding-top: 7%"> To Reserve: </h3>
            <p>
                Please click HERE (embed link for hotel reservation: https://mingus.info/esterel-groupe/index.html?gId=MKJ020918&language=en)
                to reserve or call 1-888-ESTEREL (378-3735) to secure your room under the 'Filiatrault/Thibodeau' wedding
                block.
            </p>

            <p>
                NOTE: The group rate will only be available until August 1st, 2018. You will be asked to pay a $150 deposit up-front to reserve
                your room.
            </p>

            <p>
                Room fees include breakfast for 2 (between 7:30-10:30am). Breakfast rate for additional guests is $20.70 each. The room rate
                also includes complimentary all-day access to the pools and Nordic baths, free wifi and parking, and access
                to the gym. All rooms have a King-size bed, a Double-size sofa bed, a mini fridge, a toaster oven, and a
                double-sided fireplace.
            </p>
        </div>

        <h2 class="hline2" style="text-align: right"> Things to Do </h2>
        
        <div style="margin-left: 0%; margin-right: 20%; margin-top: 5%; font-family: 'Karma', serif; font-size: 140%;">
            <li style="line-height: 150% "> Nordic baths (complimentary for all guests!): panoramic pool, steam bath, hot tubs, and Finnish sauna </li>
            <li style="line-height: 150% "> Amerispa Health and Beauty Center https://www.amerispa.ca/en/spas/details/hotels-spas/esterel/ </li>
            <li style="line-height: 150% "> Golf Esterel http://golfesterel.ca/ </li>
            <li style="line-height: 150%"> 
                    Activities and free rentals: hiking and biking, diving mask and fins, volleyball, 
                    badminton racket, bolas game, pétanque game, criquet game, ring toss, pool table, etc.
            </li>
            <li style="line-height: 150% "> Water sports (rental fee): kayak, canoe, paddleboard, paddleboat, etc. </li>
        </div>

    </div>
</div>