<!--=======content================================-->
<div class="slider">
    <div class="" id="camera_wrap">

      <div *ngIf="true" style="padding-left: 0%">
        <img src="../assets/images/{{image}}" width="100%" />
      </div>
    </div>
  </div>

{{whatever}}
      <!-- <div class="slider_wrapper">
        <div class="" id="camera_wrap">
            <div data-src="../assets/images/slide1.jpg"></div>
            <div data-src="../assets/images/slide2.jpg"></div>
            <div data-src="../assets/images/slide3.jpg"></div>
        </div>
    </div> -->
    
    <div class="container_12" style="margin-top: 2.5%">
      <div class="grid_12">
        <h2 class="hline2">Estérel Resort</h2>
        <h3 class="v2">39 Chemin Fridolin-Simard, Estérel, QC J0T 1E0 </h3>
        <!--
        <div class="txt_cntr">
          <div class="dis-inblock">
            <div class="counter_section">
              <div class="plane">{{daysX | number : '0.0-0' }}</div>
              <p> {{ 'DAYS' | translate }} </p>
            </div>
            <div class="counter_separate"></div>
            <div class="counter_section">
              <div class="plane">{{hoursX}}</div>
              <p>hours</p>
            </div>
            <div class="counter_separate"></div>
            <div class="counter_section">
              <div class="plane">{{minsX}}</div>
              <p>minutes</p>
            </div>
            <div class="counter_separate"></div>
            <div class="counter_section">
              <div class="plane">{{secX | number : '1.0-0'}}</div>
              <p>seconds</p>
            </div>
          </div>
        </div>
        -->
        <div id="counter"></div>

        <div class="container_12">
          <div class="">
            <h2 class="hline2 v3">Contact Info</h2>
            <div class="">
              <figure class="img_inner">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2769.7750849807326!2d-74.02847758442337!3d46.03563617911187!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccf4869160bb051%3A0x88800f95ad9601fe!2s39+Chemin+Fridolin-Simard%2C+Est%C3%A9rel%2C+QC+J0T+1E0!5e0!3m2!1sen!2sca!4v1519784492686"
                  width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
              </figure>
              
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>

    </div>

    <script type="text/javascript">
      $(document).ready(function () {
    
        jQuery('#camera_wrap').camera({
          loader: false,
          pagination: false,
          thumbnails: false,
          height: '30.208333%',
          fx: 'blindCurtainTopLeft',
          rows: '1',
          slicedCols: '1',
          slicedRows: '3',
          caption: false
        });
    
      });
    
    </script>
