<!--=======content================================-->
<div class="slider">
    <div class="" id="camera_wrap">

      <div style="padding-left: 0%">
        <img src="../assets/images/main-slide-img.png" width="100%" />
      </div>

      <div data-src="../assets/images/slide1.jpg">

      </div>
      <div data-src="../assets/images/slide2.jpg">

      </div>
      <div data-src="../assets/images/slide3.jpg"></div>
    </div>
  </div>


      <!-- <div class="slider_wrapper">
        <div class="" id="camera_wrap">
            <div data-src="../assets/images/slide1.jpg"></div>
            <div data-src="../assets/images/slide2.jpg"></div>
            <div data-src="../assets/images/slide3.jpg"></div>
        </div>
    </div> -->

    <div class="container_12" style="margin-top: 2.5%">
      <div class="grid_12">
        <h2 class="hline2">Estérel Resort</h2>
        <h3 class="v2">39 Chemin Fridolin-Simard, Estérel, QC J0T 1E0 </h3>

        <!--div class="txt_cntr">
          <div class="dis-inblock">
            <div class="counter_section">
              <div class="plane">118</div>
              <p>days</p>
            </div>
            <div class="counter_separate"></div>
            <div class="counter_section">
              <div class="plane">23</div>
              <p>hours</p>
            </div>
            <div class="counter_separate"></div>
            <div class="counter_section">
              <div class="plane">58</div>
              <p>minutes</p>
            </div>
            <div class="counter_separate"></div>
            <div class="counter_section">
              <div class="plane">34</div>
              <p>seconds</p>
            </div>
          </div>
        </div-->

        <div id="counter"></div>

        <div class="container_12">
          <div class="">
            <h2 class="hline2 v3">Contact Info</h2>
            <div class="">
              <figure class="img_inner">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2769.7750849807326!2d-74.02847758442337!3d46.03563617911187!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccf4869160bb051%3A0x88800f95ad9601fe!2s39+Chemin+Fridolin-Simard%2C+Est%C3%A9rel%2C+QC+J0T+1E0!5e0!3m2!1sen!2sca!4v1519784492686"
                  width="960" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
              </figure>
              <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.Nulla dui. Fusce feugiat
                malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem.</p>
              <address>
                <dl>
                  <dt>8901 Marmora Road, Glasgow, D04 89GR.</dt>
                  <dd>Freephone:<span class="fright">+1 800 559 6580</span></dd>
                  <dd>Telephone:<span class="fright">+1 800 603 6035</span></dd>
                  <dd>FAX: <span class="fright">+1 800 889 9898</span></dd>
                  <dd>E-mail: <span class="fright"><a href="#" class="link1_2">mail@demolink.org</a></span></dd>
                </dl>
              </address>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>

    </div>
