<!--div class="container_12" style="margin-top: 8%; margin-bottom: 20%">
    <div class="grid_12">

        <h3 class="v2"> You are invited to our wedding celebration! Please RSVP by July 31st so we can accommodate you. </h3>

        <div class="grid_4">
            <h2 class="hline2 v3">RSVP Form</h2>

            <form id="form">
                <div class="success_wrapper">
                    <div class="success">Contact form submitted!<br>
                        <strong>We will be in touch soon.</strong> </div>
                </div>
                <fieldset>

                    <label class="name">
                        <input type="text" value="Your full name">
                        <br class="clear">
                        <span class="error error-empty">*This is not a valid name.</span><span class="empty error-empty">*This field is required.</span> 
                    </label>

                    <label class="email">
                        <input type="text" value="Your email">
                        <br class="clear">
                        <span class="error error-empty">*This is not a valid email address.</span><span class="empty error-empty">*This field is required.</span> 
                    </label>

                    <label class="email">
                        Will you be attending?
                        <select>
                            <option value="volvo">Please Select</option>
                            <option value="volvo">Yes</option>
                            <option value="saab">No</option>
                        </select>
                        <br class="clear">
                        <span class="error error-empty">*This is not a valid email address.</span><span class="empty error-empty">*This field is required.</span> 
                    </label>

                    <label class="email">
                        Are you bringing a guest?
                        <select>
                            <option value="volvo">Please Select</option>
                            <option value="volvo">Yes</option>
                            <option value="saab">No</option>
                        </select>
                        <br class="clear">
                        <span class="error error-empty">*This is not a valid email address.</span><span class="empty error-empty">*This field is required.</span> 
                    </label>

                    <div style="">
                        <div style="width: 60%; float: left; font-size: 120%"> Meal choice: </div>
                        <div style="float: left; width: 40%; ">
                            <select style="font-size: 110%">
                                <option value="volvo">Please Select</option>
                                <option value="volvo">Chicken</option>
                                <option value="saab">Beef</option>
                            </select>
                            <br class="clear">
                            <span class="error error-empty">*This is not a valid email address.</span><span class="empty error-empty">*This field is required.</span>
                        </div>
                    </div>
                    <br/>

                    <label class="name">
                        <input type="tel" value="Allergies/Dietary Restrictions?">
                        <br class="clear">
                        <span class="error error-empty">*This is not a valid text</span><span class="empty error-empty">*This field is required.</span> 
                    </label>

                    <label class="name">
                        <input type="tel" value="Your guest's full name:">
                        <br class="clear">
                        <span class="error error-empty">*This is not a valid text</span><span class="empty error-empty">*This field is required.</span> 
                    </label>

                    <label class="name">
                        <input type="tel" value="Your guest's full name:">
                        <br class="clear">
                        <span class="error error-empty">*This is not a valid text</span><span class="empty error-empty">*This field is required.</span> 
                    </label>

                    <label class="name">
                        <input type="tel" value="Songs you’d like to suggest for the party?">
                        <br class="clear">
                        <span class="error error-empty">*This is not a valid text</span><span class="empty error-empty">*This field is required.</span> 
                    </label>

                    <div class="clear"></div>
                    <div class="btns">
                        <a data-type="submit" class="more_btn">Submit</a>
                        <div class="clear"></div>
                    </div>
                </fieldset>
            </form>
        </div>

    </div>
</div-->

<!--<form id="contact-form" method="POST" action="assets/email.php">-->
<!--form (submit)="sendEmail(message)">
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Your Name" [(ngModel)]="message.name">
    </div>
    <div>
        <label for="email">Email</label>
        <input type="text" name="email" placeholder="Your Email" [(ngModel)]="message.email">
    </div>
    <div>
        <label for="message">Message</label>
        <textarea rows="6" name="message" [(ngModel)]="message.message"></textarea>
    </div>
    <button type="submit">Send Email</button>
</form-->


<div class="container_12" style="margin-top: 5%; margin-bottom: 10%">


        <h3 class="v2"> {{ 'You are invited to our wedding celebration! Please RSVP by July 31st so we can accommodate you.' | translate }} </h3>

        <div class="grid_12">
            <h2 class="hline2 v3">RSVP</h2>

            <div class="form-style-2">
                
                <form method="post" (submit)="sendEmail(message)">
                    
                    <label for="fullName">
                        <span> {{ 'Full Name' | translate }} 
                            <span class="required">*</span>
                        </span>
                         <input type="text" class="input-field" name="fullName" value="" [(ngModel)]="message.fullName"/>
                    </label>

                    <label for="email">
                        <span> {{ 'Email' | translate }} 
                                <span class="required">*</span>
                        </span>
                        <input type="text" class="input-field" name="email" value="" [(ngModel)]="message.email"/>
                    </label>

                    <label for="isAttending">
                        <span> {{ 'Will you be attending?' | translate }} 
                            <span class="required">*</span>
                        </span>
                        <select name="isGuestComing" class="select-field" [(ngModel)]="message.isAttending">
                            <option value="No selection"> {{ 'Please Select' | translate }} </option>
                            <option value="{{ 'Yes' | translate }}">{{ 'Yes' | translate }}</option>
                            <option value="{ 'No' | translate }}">{{ 'No' | translate }}</option>
                        </select>
                    </label>
                    
                    <label for="mealChoice"><span> {{ 'Meal choice:' | translate }} </span>
                        <select name="mealChoice" class="select-field" [(ngModel)]="message.mealChoice">
                            <option value="No selection"> {{ 'Please Select' | translate }} </option>
                            <option value="{{ 'Chicken' | translate }}">{{ 'Chicken' | translate }}</option>
                            <option value="{{ 'Beef' | translate }}">{{ 'Beef' | translate }}</option>
                        </select>
                    </label>

                    <label for="allergies">
                        <span>{{ 'Allergies/Dietary Restrictions?' | translate }} </span>
                        <input type="text" class="input-field" name="allergies1" value="" [(ngModel)]="message.allergies"/>
                    </label>

                    <label for="isGuestComing">
                        <span> {{ 'Are you bringing a guest?' | translate }} 
                            <span class="required">*</span>
                        </span>
                        <select name="isGuestComing" class="select-field" [(ngModel)]="message.isGuestComing">
                            <option value="No selection"> {{ 'Please Select' | translate }} </option>
                            <option value="{{ 'Yes' | translate }}">{{ 'Yes' | translate }}</option>
                            <option value="{ 'No' | translate }}">{{ 'No' | translate }}</option>
                        </select>
                    </label>

                    <div *ngIf="isGuestComing == 'Yes'"> PASS </div>
                    <label for="guestFullName">
                        <span> {{ 'Your Guest\'s Full Name:' | translate }} 
                            <span class="required">*</span>
                        </span>
                            <input type="text" class="input-field" name="fullName" value="" [(ngModel)]="message.guestFullName"/>
                    </label>

                    <label for="mealChoicePlusOne"><span> {{ 'Meal choice:' | translate }} </span>
                        <select name="mealChoicePlusOne" class="select-field" [(ngModel)]="message.mealChoicePlusOne">
                            <option value="No selection"> {{ 'Please Select' | translate }} </option>
                            <option value="{{ 'Chicken' | translate }}">{{ 'Chicken' | translate }}</option>
                            <option value="{{ 'Beef' | translate }}">{{ 'Beef' | translate }}</option>
                        </select>
                    </label>

                    <label for="allergiesPlusOne">
                        <span>{{ 'Allergies/Dietary Restrictions?' | translate }} </span>
                        <input type="text" class="input-field" name="allergies1" value="" [(ngModel)]="message.allergiesPlusOne"/>
                    </label>

                    <label for="songsSuggestion">
                        <span>
                            {{ 'Songs you’d like to suggest for the party?' | translate }} 
                        </span>
                        <input type="text" class="input-field" name="field1" value="" [(ngModel)]="message.songsSuggestion"/>
                    </label>
                    <!--label for="field5"><span>Message <span class="required">*</span></span><textarea name="field5" class="textarea-field"></textarea></label-->

                    
                    <button type="submit"> Submit </button>
                    
                </form>
            </div>
        </div>
</div>