<div class="container_12" style="margin-top: 8%; margin-bottom: 20%">
    <div class="grid_12">

You are invited to our wedding celebration! Please RSVP by July 31st so we can accommodate you.
Your full name: (TEXT)
Your email: (TEXT)
Will you be attending? (DROP-DOWN OR CHECK-BOX) Yes/ No
Meal choice: Chicken/ Beef (SELECT ONE)
Allergies/Dietary Restrictions? (TEXT)
Are you bringing a guest? (DROP-DOWN OR CHECK-BOX) Yes/No
Your guest’s full name: (TEXT)
Meal choice: Chicken/Beef (SELECT ONE)
Allergies/Dietary Restrictions? (TEXT)
Songs you’d like to suggest for the party? (TEXT)

    </div>
</div>