<div class="container_12" style="margin-top: 8%; margin-bottom: 20%">
    <div class="grid_12">
2018-09-01
16:30 Rehearsal (wedding party)
18:00 Rehearsal Dinner (wedding party) – Location TBD
21:00-23:00 Drinks by the pool - Esterel Resort

2018-09-02
07:30-10:30 Breakfast Buffet - Esterel Resort
16:30 Ceremony - Esterel Resort
17:30 Cocktails and Appetizers - Salle Dupuis and Terrace, Esterel Resort
18:30 Dinner, Drinks, and Dancing! - Salle Dupuis and Terrace, Esterel Resort

2018-09-03
07:30-10:30 Hangover Breakfast - Esterel Resort

    </div>
</div>